<div class="mt-4" [formGroup]="checkoutForm">
  <div class="row">
    <div class="form-group col-12" formGroupName="paymentForm">
      <app-text-input
        [label]="'Name on card'"
        formControlName="nameOnCard"
      ></app-text-input>
    </div>
    <div class="form-group col-6">
      <div #cardNumber class="form-control py-3"></div>
    </div>
    <div class="form-group col-3">
      <div #cardExpiry class="form-control py-3"></div>
    </div>
    <div class="form-group col-3">
      <div #cardCvc class="form-control py-3"></div>
    </div>
    <div class="text-danger pb-2">
      <ul>
        <li *ngIf="cardNumberError">{{ cardNumberError }}</li>
        <li *ngIf="cardExpiryError">{{ cardExpiryError }}</li>
        <li *ngIf="cardCvcError">{{ cardCvcError }}</li>
      </ul>
    </div>
  </div>
</div>

<div
  class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5"
>
  <button class="btn btn-outline-primary" cdkStepperPrevious>
    <i class="fa fa-angle-left mr-2"></i>Back to Delivery Method
  </button>
  <button class="btn btn-outline-success" (click)="onSubmitOrder()">
    Submit Order
    <i *ngIf="isLoading" class="fa fa-spinner fa-spin ml-2"></i>
  </button>
</div>
