<div class="container mt-2">
  <div class="pb-5">
    <div class="container" *ngIf="basket$ | async as basket; else noItems">
      <div class="row">
        <div class="col py-5 mb-1">
          <app-basket-summary
            [basket]="basket"
            (decrement)="onDecrementQuantity($event)"
            (increment)="onIncrementQuantity($event)"
            (remove)="onRemoveItem($event)"
          ></app-basket-summary>
        </div>
      </div>
      <div class="row">
        <div class="col-6 offset-6">
          <app-order-total></app-order-total>
          <a routerLink="/checkout" class="btn btn-outline-success">Checkout</a>
          <a routerLink="/shop" class="btn btn-outline-warning ml-2"
            >Continue Shopping</a
          >
          <a (click)="onClearBasket()" class="btn btn-outline-danger ml-2"
            >Clear Basket</a
          >
        </div>
      </div>
    </div>
    <ng-template #noItems> There are no Items in your basket. </ng-template>
  </div>
</div>
