<ng-container *ngIf="breadcrumb$ | async as breadcrumbs">
   <section
      *ngIf="breadcrumbs.length > 0 && breadcrumbs[breadcrumbs.length - 1].label !== 'Home'"
      class="py-2 mb-2 section-container"
   >
      <div class="container">
         <div class="row d-flex align-items-center">
            <div class="col-9">
               <h3>{{ breadcrumbs[breadcrumbs.length - 1].label }}</h3>
            </div>
            <div class="col-3">
               <nav aria-label="breadcrumb">
                  <xng-breadcrumb></xng-breadcrumb>
               </nav>
            </div>
         </div>
      </div>
   </section>
</ng-container>
