<section class="py-2 mb-2 section-container">
   <div class="container">
      <div class="row d-flex align-items-center">
         <div class="col-9">Title goes here</div>
         <div class="col-3">
           <nav aria-label="breadcrumb">
             <ol class="breadcrumb">
               <li class="breadcrumb-item"><a href="#">Home</a></li>
               <li class="breadcrumb-item active" aria-current="page">Library</li>
             </ol>
           </nav>
         </div>
      </div>
   </div>
</section>
