.cart-no {
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  font-size: 1em;
  background-color: blue;
  color: white;
  text-align: center;
  top: -12px;
  right: 32px;
}

a {
  text-decoration: none;
  color: #343a40 !important;

  &.active {
    color: orange !important;
  }
}

.logo {
  cursor: pointer;
  border: solid 2px transparent;
  &:hover {
    border-color: blue;
  }

  &:focus {
    outline: none;
  }
}

.user-dropdown {
  cursor: pointer;
}

.dropdown-item {
  color: white !important;
  cursor: pointer;
}
